html {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    background: #0f0022;
    
}



h1 {
    color: #fff;
    font-size: 60px;
}
p {
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
}
button {
    border: 5px solid white;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 26px;
}
button:hover {
    background-color: #fff;
    color: #000;
}
.container {
    margin-top: 400px;
}